%h1= "Listing articles for tag #{@tag}"

- @articles.each do |article|
  %article
    = render :partial => 'articles/article', :object => article
    .clearfix

= link_to 'New Article', new_article_path