@charset "UTF-8";

html {
  font-family: Calibri, Georgia, Arial; }

body {
  width: 980px;
  margin: 0 auto; }
  
a {
  text-decoration: none;
  color: #01547f; }

.clearfix {
  clear: both; }

.round {
  border: 2px solid #AAA;
  border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -webkit-box-shadow: 2px 2px 2px #333333;
  -moz-box-shadow: 2px 2px 2px #333333; }

.gradient {
  background: #f7f7f7;
  background: -moz-linear-gradient(90deg, #cccccc, white);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc)); }

section {
  &.content {
    width: 600px;
    float: left; }
  &.right {
    width: 340px;
    margin: 20px;
    float: left; } }

header {
  @extend .round;
  border: 2px solid #01547f;
  display: block;
  height: 40px;
  margin: 10px 20px;
  padding: 10px;
  h1 {
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Georgia, Arial;
    padding-top: 5px; }
  #userbar {
    float: right; } }

form {
  
  @extend .round;
  margin: 20px auto;
  padding: 20px;
  width: 440px; }

h1 {
  border-bottom: 1px solid #cccccc;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase; }

form p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0; } }

label {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 5px;
  width: 80px; }

form p:hover label {
  color: #01547f;
  &:after {
    content: " »"; } }

input {
  &[type=text], &[type=password] {
    @extend .gradient;
    @extend .round;
    padding: 5px;
    width: 300px; } }

textarea {
  @extend .gradient;
  @extend .round;
  padding: 5px;
  width: 300px;
  height: 150px; }
  
.input {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}

input {
  &[type=text]:focus, &[type=password]:focus {
    @extend .input; } }

textarea:focus {
  @extend .input; }

select {
  cursor: pointer;
  padding: 3px;
  @extend .input;
  &:active, &:focus {
    @extend .input; } }

input[type=submit] {
  background: #dddddd;
  background: -moz-linear-gradient(90deg, #01547f, #528ba8);
  background: -webkit-gradient(linear, left top, left bottom, from(#01547f), to(#528ba8));
  border: 1px solid #093c75;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  color: white;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 315px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px #333333;
  text-transform: uppercase;
  &:hover {
    background: #eeeeee;
    background: -moz-linear-gradient(90deg, #067cd3, #0bcdff);
    background: -webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
    border-color: #093c75;
    text-decoration: none; }
  &:active, &:focus {
    background: #cccccc;
    background: -moz-linear-gradient(90deg, #0bcdff, #067cd3);
    background: -webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
    border-color: #093c75;
    outline: none; } }

article ul.links {
  clear: both;
  li {
    float: left;
    margin: 0 10px; } }

section.right ul.tagcloud {
  clear: both;
  li {
    display: block;
    float: left;
    margin: 0 5px; } }

article {
  display: block;
  @extend .round;
  @extend .gradient;
  padding: 10px;
  width: 580px;
  margin: 20px 0;
  h2.title {
    color: #01547f;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 5px 0; }
  .tags li {
    float: left;
    margin: 0 10px; }
  .infos {
    float: right; }
  .comments {
    clear: both;
    margin: 20px; }
  .links {
    float: right; }
  .comment {
    @extend .round;
    @extend .gradient;
    margin: 10px 20px;
    padding: 10px;
    width: 440px;
    h3.title {
      color: #01547f;
      font-size: 2em;
      font-weight: bold;
      margin: 0 0 5px 0; }
    p {
      &.body {
        padding: 5px; }
      &.author {
        text-align: right;
        color: #5a5a5a; } } } }
