#userbar
  - if user_signed_in?
    %b Connected as
    = current_user.email
    %br
    = link_to "Sign Out", destroy_user_session_path
  - else
    = link_to "Sign In", new_user_session_path
    = link_to "Sign Up", new_user_registration_path
